.main-title {
  text-align: center;
  padding: 10px 15px;
  width: fit-content;
  margin: 30px auto 35px;
  border: 3px solid #000;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    background-color: $main-color;
    width: 12px;
    height: 12px;
    position: absolute;
    border-radius: 50%;
    transition: $main-transition;
    z-index: -1;
  }
  &::before {
    left: -25px;
  }
  &::after {
    right: -25px;
  }
  @media (min-width: 768px) {
    &:hover {
      color: white;
      border: 3px solid #fff;
      transition-delay: 0.5;
      &::before,
      &::after {
        width: 70%;
        height: 100%;
      }
      &::before {
        left: 0;
        border-radius: 0 10px 50px 0;
      }
      &::after {
        right: 0;
        border-radius: 50px 0 0 10px;
      }
    }
  }
}
