.discount {
  .discount-content {
    .content {
      display: flex;

      @media (max-width: 991px) {
        flex-direction: column;
        .have-discount,
        .request-discount {
          width: 100%;
        }
      }

      .have-discount,
      .request-discount {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 50%;
        padding: 50px;
        height: 100vh;

        @media (max-width: 767px) {
          padding: 50px 0;
        }
        h3 {
          margin: 0;
          font-size: 25px;
        }
      }

      .have-discount {
        background-color: $main-color;
        color: #fff;
        text-align: center;
        p {
          width: 86%;
          margin: 30px 0;
          line-height: 1.6;
        }
        > img {
          max-width: 45%;
        }
      }

      .request-discount {
        .form {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 30px 0 0;

          input,
          textarea {
            padding: 10px;
            border: none;
            border-bottom: 1px solid #777;
            font-family: inherit;
            margin-bottom: 30px;
            background-color: #f0f0f0b0;
            width: 250px;
            &:focus {
              outline: none;
            }
          }
          input[type="submit"] {
            border: none;
            background-color: $main-color;
            cursor: pointer;
            color: #fff;
            border-radius: 6px;
            font-weight: bold;
            transition: $main-transition;

            &:hover {
              background-color: $fourth-color;
            }
          }

          textarea {
            resize: none;
            height: 150px;
          }
        }
      }
      @media (max-width: 991px) {
        .have-discount,
        .request-discount {
          width: 100%;
        }
      }
    }
  }
}
