$main-color: #2194f6;
$sec-color: #fe735a;
$thrid-color: #009685;
$fourth-color: #04a8f3;

$main-transition: 0.3s;

$section-background: #d4d8d7;

$header-height: 70px;

$text-color: #000000;
