.events {
  background-color: #fff;
  padding: 30px 0;
  .events-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;

      @media (max-width: 991px) {
        flex-direction: column;
      }
      > img {
        max-width: 400px;
      }
      .box {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        gap: 40px;
        text-align: center;

        .time-left {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          .time {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 75px;
            border-radius: 6px;
            border: 2px solid #777;
            transition: $main-transition;

            &:hover {
              border-color: $main-color;
              small {
                border-color: $main-color;
              }
            }

            span {
              color: $main-color;
              font-size: 35px;
              padding: 10px;

              font-weight: bold;
            }
            small {
              font-size: 14px;
              border-top: 1px solid #777;
              padding: 10px 0;
              width: 100%;
              transition: $main-transition;
            }
          }
        }

        .info {
          h3 {
            margin-top: 10px;
            font-size: 25px;
          }
          p {
            line-height: 1.6;
            padding: 25px 0 20px;
            color: #777;
          }
        }
      }
    }
    .subscribe {
      padding: 20px;
      background-color: #d4d8d7;
      border-radius: 50px;
      width: 50%;
      gap: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      input {
        padding: 15px;
        border-radius: 50px;
        border: none;
        font-family: inherit;
      }
      input[type="email"] {
        width: 75%;
      }
      input[type="submit"] {
        background-color: $main-color;
        color: #fff;
        cursor: pointer;
      }

      @media (max-width: 767px) {
        border-radius: 0;
        padding: 20px 10px;
        flex-direction: column;
        width: 100%;
        input[type="email"],
        input[type="submit"] {
          border-radius: 6px;
          width: 100%;
        }
      }
    }
  }
}
