/* Gernale Rules */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #c2bdbd;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #c2bdbd transparent;
  scrollbar-width: thin;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  position: relative;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.scroll-up {
  width: 40px;
  height: 40px;
  background-color: #2194f6;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  opacity: 0;
}

/* Gernale Rules */
/* Start Header */
.header-section {
  width: 100%;
  height: 70px;
}

@media (max-width: 767px) {
  .header-section {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.header-section header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
  position: relative;
}

.header-section header .container {
  height: inherit;
}

.header-section header .header-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .header-section header .header-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-section header .header-content div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section header .header-content div.logo .logo-title {
  font-size: 20px;
  font-weight: bold;
  color: #2194f6;
  height: 70px;
  line-height: 70px;
}

.header-section header .header-content nav {
  text-align: center;
}

.header-section header .header-content nav ul.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header-section header .header-content nav ul.menu-list > li.menu-item {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-section header .header-content nav ul.menu-list > li.menu-item > a {
  position: relative;
  color: #000000;
  padding: 0 15px;
  height: 70px;
  line-height: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.header-section header .header-content nav ul.menu-list > li.menu-item > a::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  border-radius: 10px;
  height: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #2194f6;
}

.header-section header .header-content nav ul.menu-list > li.menu-item > a::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -30px;
  width: 0;
  height: 0;
  -webkit-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
  background-color: #f8f8f0;
  border-radius: 50%;
  z-index: -1;
}

@media (min-width: 768px) {
  .header-section header .header-content nav ul.menu-list > li.menu-item > a::before {
    top: 0;
  }
}

@media (max-width: 667px) {
  .header-section header .header-content nav ul.menu-list > li.menu-item > a {
    font-size: 13px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 0;
    padding: 18px 0;
  }
  .header-section header .header-content nav ul.menu-list > li.menu-item > a::before {
    bottom: 0;
  }
}

.header-section header .header-content nav ul.menu-list > li.menu-item > a:hover {
  color: #2194f6;
}

.header-section header .header-content nav ul.menu-list > li.menu-item > a:hover::before {
  width: 100%;
}

.header-section header .header-content nav ul.menu-list > li.menu-item > a:hover::after {
  width: 150%;
  height: 150%;
}

.header-section header .header-content nav ul.menu-list > li.menu-item > a:hover a {
  color: #2194f6;
}

.header-section header .header-content nav ul.menu-list > li.menu-item:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: 100%;
  visibility: visible;
}

.header-section header .header-content nav ul.menu-list .mega-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background: #fff;
  top: calc(100% + 50px);
  padding: 30px;
  border-bottom: 3px solid #2194f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top 0.3s, opacity 0.3s;
  transition: top 0.3s, opacity 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
}

.header-section header .header-content nav ul.menu-list .mega-menu .image {
  width: 275px;
}

.header-section header .header-content nav ul.menu-list .mega-menu .image img {
  max-width: 100%;
}

@media (max-width: 991px) {
  .header-section header .header-content nav ul.menu-list .mega-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .header-section header .header-content nav ul.menu-list .mega-menu .image {
    display: none;
  }
  .header-section header .header-content nav ul.menu-list .mega-menu .mega-list:first-of-type li:last-of-type {
    margin-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.header-section header .header-content nav ul.menu-list .mega-menu .mega-list {
  min-width: 250px;
}

.header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items:not(:last-of-type) {
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #e7e7e7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 991px) {
  .header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items:hover {
    border-color: #fe735a;
  }
  .header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items:hover::before {
    width: 100%;
  }
  .header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items:hover::after {
    height: 100%;
    background-color: #fe735a;
  }
  .header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items:hover > a {
    color: #fe735a;
  }
}

.header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items > a {
  padding: 10px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: #2194f6;
  cursor: pointer;
}

.header-section header .header-content nav ul.menu-list .mega-menu .mega-list > .mega-list-items > a i {
  margin-right: 10px;
}

/* End Header */
/* Start Home */
.landing-page {
  height: calc(100vh - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .landing-page {
    height: calc(100vh - 140px);
  }
}

.landing-page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #d4d8d7;
  -webkit-transform: skewY(-6deg);
  transform: skewY(-6deg);
  z-index: -1;
  top: -75px;
}

.landing-page .container {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-page .landing-page-contenet {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-page .landing-page-contenet .landing-page-desc {
  width: 50%;
}

.landing-page .landing-page-contenet .landing-page-desc h1 {
  margin: 10px 0;
}

.landing-page .landing-page-contenet .landing-page-desc p {
  line-height: 1.6;
  color: #000000;
}

.landing-page .landing-page-contenet .landing-page-image {
  text-align: center;
  width: 50%;
  display: none;
}

.landing-page .landing-page-contenet .landing-page-image img {
  position: relative;
  max-width: 80%;
  border-radius: 10px;
  -webkit-animation: updow 5s infinite linear;
          animation: updow 5s infinite linear;
}

@-webkit-keyframes updow {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 30px;
  }
}

@keyframes updow {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 30px;
  }
}

@media (min-width: 992px) {
  .landing-page .landing-page-contenet .landing-page-image {
    display: block;
  }
}

@media (max-width: 991px) {
  .landing-page .landing-page-contenet {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
  }
  .landing-page .landing-page-contenet .landing-page-desc {
    width: 90%;
  }
}

.landing-page .arrow-down {
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  border-radius: 50%;
  -webkit-animation: updow 1s infinite linear;
          animation: updow 1s infinite linear;
  cursor: pointer;
}

.landing-page .arrow-down a {
  color: #2194f6;
}

@keyframes updow {
  0%,
  10%,
  20%,
  30%,
  50%,
  70%,
  80%,
  90%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60%,
  40% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

/* End Home */
/* Start Title*/
.main-title {
  text-align: center;
  padding: 10px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 35px;
  border: 3px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.main-title::before, .main-title::after {
  content: "";
  background-color: #2194f6;
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.main-title::before {
  left: -25px;
}

.main-title::after {
  right: -25px;
}

@media (min-width: 768px) {
  .main-title:hover {
    color: white;
    border: 3px solid #fff;
    -webkit-transition-delay: 0.5;
            transition-delay: 0.5;
  }
  .main-title:hover::before, .main-title:hover::after {
    width: 70%;
    height: 100%;
  }
  .main-title:hover::before {
    left: 0;
    border-radius: 0 10px 50px 0;
  }
  .main-title:hover::after {
    right: 0;
    border-radius: 50px 0 0 10px;
  }
}

/* End Title*/
/* Start Articles */
.articles-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.articles-section .articles-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  place-items: center;
}

.articles-section .articles-content .article-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
  -webkit-box-shadow: 0 0 10px #e9e9e9;
          box-shadow: 0 0 10px #e9e9e9;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.articles-section .articles-content .article-box:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.articles-section .articles-content .article-box:hover .more i {
  -webkit-animation: moving-arrow 0.5s infinite linear;
          animation: moving-arrow 0.5s infinite linear;
}

.articles-section .articles-content .article-box .image {
  width: 100%;
  height: 180px;
}

.articles-section .articles-content .article-box .image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.articles-section .articles-content .article-box .content {
  padding: 10px 20px;
}

.articles-section .articles-content .article-box .content h3 {
  margin: 10px 0;
}

.articles-section .articles-content .article-box .content p {
  font-size: 15px;
  line-height: 1.6;
}

.articles-section .articles-content .article-box .more {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.articles-section .articles-content .article-box .more a,
.articles-section .articles-content .article-box .more i {
  cursor: pointer;
  color: #2194f6;
}

@-webkit-keyframes moving-arrow {
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes moving-arrow {
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

/* End Articles */
/* Start Gallary */
.gallary {
  padding: 30px 0;
  background-color: #d4d8d7;
}

.gallary .gallary-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  place-items: center;
}

.gallary .gallary-content .content {
  padding: 20px;
  width: 100%;
  height: 300px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #fff;
}

.gallary .gallary-content .content .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.gallary .gallary-content .content .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.357);
  width: 0;
  height: 0;
  z-index: 2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.gallary .gallary-content .content .image img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallary .gallary-content .content .image:hover img {
  -webkit-transform: rotate(5deg) scale(1.1);
          transform: rotate(5deg) scale(1.1);
}

.gallary .gallary-content .content .image:hover::before {
  -webkit-animation: flashing 0.3s;
          animation: flashing 0.3s;
}

@-webkit-keyframes flashing {
  0%,
  40% {
    width: 0;
    height: 0;
  }
  100% {
    width: 150%;
    height: 150%;
  }
}

@keyframes flashing {
  0%,
  40% {
    width: 0;
    height: 0;
  }
  100% {
    width: 150%;
    height: 150%;
  }
}

/* End Gallary */
/* Start Features */
.features-section {
  padding: 30px 0;
}

.features-section .features-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  place-items: center;
}

.features-section .features-content .content {
  text-align: center;
  border: 1px solid #e7e7e9;
}

.features-section .features-content .content:hover .image::after {
  border-width: 170px 600px 170px 0px;
}

.features-section .features-content .content:hover .info button {
  background-position: left bottom;
  color: white;
}

.features-section .features-content .content .image {
  position: relative;
  overflow: hidden;
}

.features-section .features-content .content .image::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.features-section .features-content .content .image::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  border-style: solid;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features-section .features-content .content .image img {
  max-width: 100%;
}

.features-section .features-content .content .info {
  background-color: #fff;
  padding: 20px 0;
}

.features-section .features-content .content .info h3 {
  position: relative;
  margin: 10px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.features-section .features-content .content .info h3::before {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fe735a;
}

.features-section .features-content .content .info p {
  font-size: 15px;
  font-weight: bold;
  padding: 20px;
  color: #777;
  line-height: 1.6;
}

.features-section .features-content .content .info button {
  padding: 10px 15px;
  font-size: 15px;
  font-family: inherit;
  font-weight: bold;
  border-radius: 6px;
  background-color: transparent;
  background-size: 252% 100%;
  background-position: right bottom;
  letter-spacing: 0.6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features-section .features-content .quality .image::before {
  background-color: #fe735a;
}

.features-section .features-content .quality .info h3::before {
  background-color: #fe735a;
}

.features-section .features-content .quality .info button {
  color: #fe735a;
  border: 3px solid #fe735a;
  background-image: linear-gradient(50deg, #fe735a 50%, white 50%);
}

.features-section .features-content .time .image::before {
  background-color: #009685;
}

.features-section .features-content .time .info h3::before {
  background-color: #009685;
}

.features-section .features-content .time .info button {
  color: #009685;
  border: 3px solid #009685;
  background-image: linear-gradient(50deg, #009685 50%, white 50%);
}

.features-section .features-content .passion .image::before {
  background-color: #04a8f3;
}

.features-section .features-content .passion .info h3::before {
  background-color: #04a8f3;
}

.features-section .features-content .passion .info button {
  color: #04a8f3;
  border: 3px solid #04a8f3;
  background-image: linear-gradient(50deg, #04a8f3 50%, white 50%);
}

/* End Features */
/* Start Testimonials */
.testimonials {
  padding: 0 0 30px;
  background-color: #d4d8d7;
}

.testimonials .container {
  padding-top: 30px;
}

.testimonials .testimonials-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 20px;
}

.testimonials .testimonials-content .content {
  background-color: #fff;
  padding: 20px;
  position: relative;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 10px #00000012;
          box-shadow: 0 0 10px #00000012;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
  z-index: 1;
}

.testimonials .testimonials-content .content::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: -129px;
  background-color: #2194f6;
  height: 100%;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: skewX(227deg);
          transform: skewX(227deg);
}

.testimonials .testimonials-content .content img {
  position: absolute;
  border: 10px solid #d4d8d7;
  top: 0;
  right: 0;
  width: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.testimonials .testimonials-content .content .info h3 {
  margin: 0;
}

.testimonials .testimonials-content .content .info span {
  display: block;
  margin: 10px 0;
}

.testimonials .testimonials-content .content .rate {
  color: #ffc107;
}

.testimonials .testimonials-content .content p {
  line-height: 1.6;
  margin-top: 10px;
  color: #777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.testimonials .testimonials-content .content:hover {
  color: #fff;
}

.testimonials .testimonials-content .content:hover::before {
  width: 200%;
}

.testimonials .testimonials-content .content:hover > img {
  border-radius: 0 0 0 50%;
}

.testimonials .testimonials-content .content:hover p {
  color: #fff;
}

/* End Testimonials */
/* Start Team Member */
.team-member {
  background-color: #fff;
  padding: 30px 0;
  text-align: center;
  font-weight: bold;
}

.team-member .team-member-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 20px;
}

.team-member .team-member-content .content {
  position: relative;
}

.team-member .team-member-content .content::before, .team-member .team-member-content .content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.team-member .team-member-content .content::before {
  width: calc(100% - 60px);
  background-color: #d4d8d7;
}

.team-member .team-member-content .content::after {
  width: 0;
}

.team-member .team-member-content .content::after {
  background-color: #e7e7e7;
}

.team-member .team-member-content .content:hover::after {
  width: calc(100% - 60px);
}

.team-member .team-member-content .content:hover .data img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.team-member .team-member-content .content .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.team-member .team-member-content .content .data img {
  width: calc(100% - 60px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 2;
}

.team-member .team-member-content .content .data .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60px;
  font-size: 25px;
  z-index: 2;
}

.team-member .team-member-content .content .info h4,
.team-member .team-member-content .content .info span {
  z-index: 2;
}

/* End Team Member */
/* Start Services */
.services {
  background-color: #d4d8d7;
  padding: 30px 0;
}

.services .services-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.services .services-content .content {
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 2px 7px 9px #7777773b;
          box-shadow: 2px 7px 9px #7777773b;
}

.services .services-content .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #2194f6;
  height: 3px;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.services .services-content .content:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.services .services-content .content:hover::before {
  width: 100%;
}

.services .services-content .content .services-title {
  padding: 30px 0;
  text-align: center;
}

.services .services-content .content .services-title i {
  font-size: 35px;
  margin-bottom: 10px;
  color: #777777a1;
}

.services .services-content .content .services-title h4 {
  font-weight: bold;
  font-size: 20px;
  color: #2194f6;
}

.services .services-content .content .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 45px;
  padding-right: 10px;
}

.services .services-content .content .info span:first-of-type {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  width: 100px;
  height: 100%;
  color: white;
  background-color: #2194f6;
  text-align: center;
}

.services .services-content .content .info span:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  right: -28px;
  width: 40px;
  height: 100%;
  background-color: darkgrey;
  -webkit-transform: skewX(331deg);
          transform: skewX(331deg);
}

.services .services-content .content .info span:nth-of-type(2) {
  color: #2194f6;
  cursor: pointer;
}

/* End Services */
/* Start Our Skills */
.our-skills {
  background-color: #fff;
  padding: 30px 0;
}

.our-skills .skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0;
}

.our-skills .skills-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.our-skills .skills-content .content img {
  width: 300px;
  display: none;
  margin-right: 10px;
}

.our-skills .skills-content .content .skills-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}

.our-skills .skills-content .content .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.our-skills .skills-content .content .skills .skills-title,
.our-skills .skills-content .content .skills .skills-progress {
  width: 100%;
  height: 40px;
}

.our-skills .skills-content .content .skills .skills-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
}

.our-skills .skills-content .content .skills .skills-title small {
  color: #2194f6;
  border: 1px solid #d4d8d7;
  border-radius: 6px;
  padding: 5px;
}

.our-skills .skills-content .content .skills .skills-progress {
  background-color: #d4d8d7;
  border-radius: 6px;
  overflow: hidden;
}

.our-skills .skills-content .content .skills .skills-progress span {
  display: block;
  width: 80%;
  height: inherit;
  background-color: #2194f6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.our-skills .skills-content .content .skills .skills-progress:hover span {
  -webkit-animation: progress 0.5s linear;
          animation: progress 0.5s linear;
}

@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .our-skills .skills-content .content img {
    display: block;
  }
}

@media (max-width: 991px) {
  .our-skills .skills-content .content .skills-display {
    width: 100%;
  }
}

/* End Our Skills */
/* Start How Its Work */
.how-it-work {
  background-color: #d4d8d7;
  padding: 30px 0;
}

.how-it-work .how-its-work-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

@media (max-width: 991px) {
  .how-it-work .how-its-work-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.how-it-work .how-its-work-content > img {
  max-width: 400px;
}

.how-it-work .how-its-work-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.how-it-work .how-its-work-content .content .box {
  background-color: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 20px;
  position: relative;
}

@media (max-width: 567px) {
  .how-it-work .how-its-work-content .content .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

.how-it-work .how-its-work-content .content .box::before {
  content: "";
  position: absolute;
  z-index: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: #b5b5b526;
  width: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.how-it-work .how-its-work-content .content .box:hover::before {
  width: 100%;
}

.how-it-work .how-its-work-content .content .box > img {
  width: 64px;
  margin-right: 20px;
}

.how-it-work .how-its-work-content .content .box .info h4 {
  margin-top: 10px;
  font-size: 20px;
}

.how-it-work .how-its-work-content .content .box .info p {
  padding: 10px 0;
  line-height: 1.6;
  color: gray;
}

/* End How Its Work */
/* Start Events */
.events {
  background-color: #fff;
  padding: 30px 0;
}

.events .events-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.events .events-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

@media (max-width: 991px) {
  .events .events-content .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.events .events-content .content > img {
  max-width: 400px;
}

.events .events-content .content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  gap: 40px;
  text-align: center;
}

.events .events-content .content .box .time-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.events .events-content .content .box .time-left .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75px;
  border-radius: 6px;
  border: 2px solid #777;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.events .events-content .content .box .time-left .time:hover {
  border-color: #2194f6;
}

.events .events-content .content .box .time-left .time:hover small {
  border-color: #2194f6;
}

.events .events-content .content .box .time-left .time span {
  color: #2194f6;
  font-size: 35px;
  padding: 10px;
  font-weight: bold;
}

.events .events-content .content .box .time-left .time small {
  font-size: 14px;
  border-top: 1px solid #777;
  padding: 10px 0;
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.events .events-content .content .box .info h3 {
  margin-top: 10px;
  font-size: 25px;
}

.events .events-content .content .box .info p {
  line-height: 1.6;
  padding: 25px 0 20px;
  color: #777;
}

.events .events-content .subscribe {
  padding: 20px;
  background-color: #d4d8d7;
  border-radius: 50px;
  width: 50%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events .events-content .subscribe input {
  padding: 15px;
  border-radius: 50px;
  border: none;
  font-family: inherit;
}

.events .events-content .subscribe input[type="email"] {
  width: 75%;
}

.events .events-content .subscribe input[type="submit"] {
  background-color: #2194f6;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 767px) {
  .events .events-content .subscribe {
    border-radius: 0;
    padding: 20px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .events .events-content .subscribe input[type="email"],
  .events .events-content .subscribe input[type="submit"] {
    border-radius: 6px;
    width: 100%;
  }
}

/* End Events */
/* Start Plans */
.pricing-plan {
  background-color: #d4d8d7;
  padding: 30px 0;
}

.pricing-plan .pricing-plan-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.pricing-plan .pricing-plan-content .content {
  background-color: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 2px 7px #3736366b;
          box-shadow: 0 2px 7px #3736366b;
  position: relative;
  z-index: 1;
}

.pricing-plan .pricing-plan-content .content::before, .pricing-plan .pricing-plan-content .content::after {
  content: "";
  position: absolute;
  height: 50%;
  background: #f0f0f0;
  width: 0;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pricing-plan .pricing-plan-content .content::before {
  top: 0;
  left: 0;
}

.pricing-plan .pricing-plan-content .content::after {
  bottom: 0;
  right: 0;
}

.pricing-plan .pricing-plan-content .content:nth-child(2) {
  position: relative;
}

@media (min-width: 1200px) {
  .pricing-plan .pricing-plan-content .content:nth-child(2) {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.pricing-plan .pricing-plan-content .content:nth-child(2) .popular-plan {
  position: absolute;
  top: 0;
  right: 20px;
  background: #2194f6;
  height: 200px;
  width: 40px;
}

.pricing-plan .pricing-plan-content .content:nth-child(2) .popular-plan::before {
  content: "";
  position: absolute;
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pricing-plan .pricing-plan-content .content:nth-child(2) .popular-plan span {
  display: inline-block;
  width: 120px;
  height: 0;
  position: absolute;
  top: 75px;
  left: 75%;
  -webkit-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
  color: #fff;
  font-size: 17px;
  font-weight: bold;
}

.pricing-plan .pricing-plan-content .content .plan-title {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.pricing-plan .pricing-plan-content .content .plan-title h3 {
  font-size: 25px;
}

.pricing-plan .pricing-plan-content .content .plan-title > img {
  margin: 20px 0;
  width: 75px;
}

.pricing-plan .pricing-plan-content .content .plan-title .info h4 {
  font-size: 35px;
  color: #2194f6;
}

.pricing-plan .pricing-plan-content .content .plan-title .info span {
  font-size: 13px;
  padding: 10px 0;
  display: block;
}

.pricing-plan .pricing-plan-content .content .plan-features {
  width: 100%;
  text-align: left;
}

.pricing-plan .pricing-plan-content .content .plan-features .features-list {
  padding: 20px;
}

.pricing-plan .pricing-plan-content .content .plan-features .features-list li {
  padding: 10px 0;
  border-top: 1px solid #7777773d;
  color: #777;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.8px;
}

.pricing-plan .pricing-plan-content .content button {
  margin: 20px;
  background-color: transparent;
  border: 3px solid #2194f6;
  border-radius: 6px;
  font-family: inherit;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.pricing-plan .pricing-plan-content .content button::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #2194f6;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: skewX(36deg);
          transform: skewX(36deg);
}

.pricing-plan .pricing-plan-content .content button:hover::before {
  background-color: #04a8f3;
}

.pricing-plan .pricing-plan-content .content button a {
  padding: 10px 15px;
  display: block;
  font-size: 17px;
  font-weight: bold;
  color: #2194f6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pricing-plan .pricing-plan-content .content:hover::before, .pricing-plan .pricing-plan-content .content:hover::after {
  width: 100%;
}

.pricing-plan .pricing-plan-content .content:hover button::before {
  width: 140%;
}

.pricing-plan .pricing-plan-content .content:hover button a {
  color: #fff;
}

/* End Plans */
/* Start Videos */
.videos {
  padding: 30px 0;
  background-color: #fff;
}

.videos .videos-content {
  border: 1px solid #d4d8d7;
}

.videos .videos-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .videos .videos-content .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.videos .videos-content .content .videso-titles {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-width: 300px;
}

.videos .videos-content .content .videso-titles .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  background-color: #eaebeb;
  padding: 20px;
}

.videos .videos-content .content .videso-titles .title i {
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.videos .videos-content .content .videso-titles .title i:hover {
  background-color: #bab7b761;
}

.videos .videos-content .content .videso-titles .videos-list ul li {
  padding: 20px;
  border-top: 1px solid #d4d8d7;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.videos .videos-content .content .videso-titles .videos-list ul li span {
  display: block;
  margin-top: 5px;
}

.videos .videos-content .content .videso-titles .videos-list ul li:hover {
  color: #2194f6;
}

.videos .videos-content .content .videos-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  background-color: #d4d8d7;
}

.videos .videos-content .content .videos-screen > img {
  max-width: 100%;
}

.videos .videos-content .content .videos-screen p {
  width: 100%;
  background-color: #fdfdfd;
  padding: 20px;
  margin-top: 10px;
}

/* End Videos */
/* Start Stats */
.stats {
  padding: 30px 0;
  background-color: #d4d8d7;
}

.stats .stats-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}

@media (min-width: 1400px) {
  .stats .stats-content {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.stats .stats-content .content {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  -webkit-box-shadow: 0 2px 5px #9e9e9ead;
          box-shadow: 0 2px 5px #9e9e9ead;
  border-radius: 10px;
}

.stats .stats-content .content i {
  font-size: 30px;
}

.stats .stats-content .content h4 {
  font-size: 30px;
  margin: 10px 0;
}

.stats .stats-content .content span {
  color: #2194f6;
  font-size: 14px;
  font-weight: bold;
}

/* End Stats */
/* Start Discount */
.discount .discount-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 991px) {
  .discount .discount-content .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .discount .discount-content .content .have-discount,
  .discount .discount-content .content .request-discount {
    width: 100%;
  }
}

.discount .discount-content .content .have-discount,
.discount .discount-content .content .request-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 50px;
  height: 100vh;
}

@media (max-width: 767px) {
  .discount .discount-content .content .have-discount,
  .discount .discount-content .content .request-discount {
    padding: 50px 0;
  }
}

.discount .discount-content .content .have-discount h3,
.discount .discount-content .content .request-discount h3 {
  margin: 0;
  font-size: 25px;
}

.discount .discount-content .content .have-discount {
  background-color: #2194f6;
  color: #fff;
  text-align: center;
}

.discount .discount-content .content .have-discount p {
  width: 86%;
  margin: 30px 0;
  line-height: 1.6;
}

.discount .discount-content .content .have-discount > img {
  max-width: 45%;
}

.discount .discount-content .content .request-discount .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0 0;
}

.discount .discount-content .content .request-discount .form input,
.discount .discount-content .content .request-discount .form textarea {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #777;
  font-family: inherit;
  margin-bottom: 30px;
  background-color: #f0f0f0b0;
  width: 250px;
}

.discount .discount-content .content .request-discount .form input:focus,
.discount .discount-content .content .request-discount .form textarea:focus {
  outline: none;
}

.discount .discount-content .content .request-discount .form input[type="submit"] {
  border: none;
  background-color: #2194f6;
  cursor: pointer;
  color: #fff;
  border-radius: 6px;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.discount .discount-content .content .request-discount .form input[type="submit"]:hover {
  background-color: #04a8f3;
}

.discount .discount-content .content .request-discount .form textarea {
  resize: none;
  height: 150px;
}

@media (max-width: 991px) {
  .discount .discount-content .content .have-discount,
  .discount .discount-content .content .request-discount {
    width: 100%;
  }
}

/* End Discount */
/* Start Footer */
.footer {
  background-color: #000;
  color: #777;
}

.footer .footer-content .content {
  padding: 30px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

@media (min-width: 1400px) {
  .footer .footer-content .content {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.footer .footer-content .content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-content .content .logo h3 {
  font-size: 30px;
  color: #fff;
}

.footer .footer-content .content .logo div.social-media {
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content .content .logo div.social-media a {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: #333;
  color: #777;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .footer-content .content .logo div.social-media a:hover {
  background-color: rgba(51, 51, 51, 0.64);
}

.footer .footer-content .content .logo p {
  line-height: 1.6;
  width: 80%;
}

.footer .footer-content .content .links > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border-bottom: 1px solid #777;
}

.footer .footer-content .content .links > div > div i {
  color: #2194f6;
  font-size: 12px;
  margin: -3px;
}

.footer .footer-content .content .links > div span {
  display: block;
}

.footer .footer-content .content .links > div span a {
  display: block;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: inherit;
}

.footer .footer-content .content .links > div span:hover {
  color: #2194f6;
}

.footer .footer-content .content .info > div {
  margin-bottom: 10px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.footer .footer-content .content .info > div i {
  margin-right: 10px;
  color: #2194f6;
}

.footer .copy-right {
  width: 100%;
  border-top: 2px solid #777;
  padding: 20px;
  text-align: center;
}

.footer .copy-right a {
  color: inherit;
}

.footer .copy-right a:hover {
  text-decoration: underline;
}

/* End Footer */
/*# sourceMappingURL=style.css.map */